<%- include('start') -%>

<main>
    <h3>
        <%= price %>
    </h3>
    <p>
        Space: <br>
        <%= room %>
    </p>
    <p>
        Place: <br>
        <%= place %>
    </p>
</main>

<%- include('end') -%>